<a href="https://colab.research.google.com/github/abhijithb200/matplotlib/blob/main/naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/LaxmiChaudhary/Building-Naive-Bayes-Classifier-on-Pima-Diabetic-Dataset/master/pima-indians-diabetes-1.csv')
data.isnull().sum()

Preg     0
Plas     0
Pres     0
skin     0
test     0
mass     0
pedi     0
age      0
class    0
dtype: int64

In [ ]:
data.head()

   Preg  Plas  Pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [ ]:
x = data.iloc[:,data.columns!='class']
y = data.iloc[:,data.columns=='class']

In [ ]:
y

     class
0        1
1        0
2        1
3        0
4        1
..     ...
763      0
764      0
765      0
766      1
767      0

[768 rows x 1 columns]

In [ ]:
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=0.3,random_state=30)

In [ ]:
classifier = GaussianNB()
classifier.fit(train_x,train_y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [ ]:
classifier.score(test_x,test_y)

0.7662337662337663

In [ ]:
y_pred = classifier.predict(test_x)

In [ ]:
from sklearn.metrics  import accuracy_score,confusion_matrix

accuracy_score(test_y,y_pred)
confusion_matrix(test_y,y_pred)

array([[133,  26],
       [ 28,  44]])